@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-24px);
  }
  to {
    opacity: 1;
    transform: translateY(-32px);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}
